﻿@model LUISMVC.wscontainer.Container
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Container</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.equipmentNbr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipmentNbr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeIso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeIso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.own)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.own)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tareWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tareWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.safeWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.safeWt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gkey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
