﻿@model IEnumerable<LUISMVC.wscontainer.Container>

@{
    ViewBag.Title = "CONTAINERS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.equipmentNbr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typeIso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.own)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typeLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tareWt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.safeWt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.equipmentNbr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typeIso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.own)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typeLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tareWt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.safeWt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.gkey }) |
            @Html.ActionLink("Details", "Details", new { id=item.gkey }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.gkey })
        </td>
    </tr>
}

</table>
