﻿@model LUISMVC.DB.VesselVisit

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VesselVisit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.visit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.line)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.line)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vesselName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vesselName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
