﻿@model LUISMVC.DB.VesselVisit

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VesselVisit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.visit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.line)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.line)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vesselName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vesselName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
