﻿@model LUISMVC.DB.Unit

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lineOp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lineOp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vStat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vStat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.frghtKind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.frghtKind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Container.equipmentNbr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Container.equipmentNbr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VesselVisit.visit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VesselVisit.visit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VesselVisit1.visit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VesselVisit1.visit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gkey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
