﻿@model IEnumerable<LUISMVC.DB.Unit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lineOp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vStat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.frghtKind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Container.equipmentNbr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VesselVisit.visit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VesselVisit1.visit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lineOp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vStat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.frghtKind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Container.equipmentNbr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VesselVisit.visit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VesselVisit1.visit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.gkey }) |
            @Html.ActionLink("Details", "Details", new { id=item.gkey }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.gkey })
        </td>
    </tr>
}

</table>
